@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/tpetts.jpg" alt="Tia Petts" title="A headshot photograph of Tia Petts"/>

<p>Use this area to provide additional information.</p>
