@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img id="tpetts" src="~/images/tpetts.jpg" alt="Tia Petts" title="A headshot photograph of Tia Petts"/>

<h4>Introduction</h4>

<p>
    I am a mother of two beautiful children; I have an 11 year old son named Kael, and a 10 year old daughter named Keanua who was seperated from our family at a young age. I spend my days working to make the best of each and every day that I have with my son so I can spoil him! I have a boyfriend named Aaron, and we have been together for 6 years now. Together, we have a dog named Mika, four cats named Sophie, Kira, Baxter and Bear, and 2 chinchillas named Calvin and Hobbes.
</p>

<br />

    <h4>How it all began...</h4>
    <p>

        Most of my work experience in life has been allocated to the Restaurant Industry, working my way from the bottom to the top. I became comfortable working over 70 hour work weeks and enjoyed the overtime pay, but it felt almost too comfortable. Life became stagnant, and kept draining me to the point where it was robbing me of spending time with my son.
    </p>

    <br />

    <h4>Changing up the Career Gears...</h4>

    <p>
        I took some time to evaluate and compare Aaron's career field with my own and found that I was more interested in what he was doing rather than remaining in my comfort zone. He had more freedom than I had. He was able to go to work doing what he loves to do, where I caught myself slowly dreading the workday ahead of me. He was able to work from home, where the Restaurant Industry demanded my presence day in and day out.
    </p>

<br />
  
<p>
    Aaron is essentially the catalyst that pushed me to dive into the coding world of the Information Technology Field, and I have no regrets. I can honestly say that as soon as I get my first job in my career field, I won't be looking back!

</p>
