@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    P.O. BOX 211<br />
    RIO, WI 53960<br />
    <abbr title="Phone">P:</abbr>
    608.228.7009
</address>

<address>
    <strong>Email:</strong> <a href="mailto:tpetts@madisoncollege.edu">tpetts@madisoncollege.edu</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
