@{
    ViewData["Title"] = "Education";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table style="width:100%">

    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>School</th>
        <th>Area of Study</th>
    </tr>

    <tr>
        <td>September 2020</td>
        <td>currently attending</td>
        <td>Madison Area Technical College</td>
        <td>Front-End Development</td>
    </tr>

    <tr>
        <td>September 2019</td>
        <td>May 2021</td>
        <td>Madison Area Technical College</td>
        <td>Mobile Applications Development</td>
    </tr>

    <tr>
        <td>September 2011</td>
        <td>April 2013</td>
        <td>Morraine Park Technical College</td>
        <td>Barber/Cosmetology Program</td>
    </tr>

    <tr>
        <td>September 2009</td>
        <td>May 2011</td>
        <td>Morraine Park Technical College</td>
        <td>General Educational Development</td>
    </tr>


</table>