@{
    ViewData["Title"] = "Experience";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table style="width:100%">

    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Manager</th>
        <th>Phone Number</th>
        <th>Title</th>
        <th>Company</th>
        <th>Address</th>
        <th>City, State</th>
        <th>Zip Code</th>
        <th>Responsibilities</th>
    </tr>

</table>

