@{
    ViewData["Title"] = "Experience";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table style="width:100%">

    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Manager</th>
        <th>Phone Number</th>
        <th>Title</th>
        <th>Company</th>
        <th>Address</th>
        <th>City, State</th>
        <th>Zip Code</th>
        <th>Responsibilities</th>
    </tr>

    <tr>
        <td>February 2021</td>
        <td>Current</td>
        <td>Natalie</td>
        <td>(608)566-1750</td>
        <td>Team Member</td>
        <td>Pizza Ranch</td>
        <td>2905 New Pinery Rd.</td>
        <td>Portage, WI</td>
        <td>53901</td>
        <td>Deliver food to private residential and business addresses, prepare food, maintain clean environment, maintain cash balances within the tills, maintain and uphold FDA food safety and sanitation standards.</td>
    </tr>

</table>

