@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cover Letter</title>
</head>

<body>

    <header>
        <h1>Cover Letter</h1>
    </header>

    <main>

        <h2>Searching for a Diamond in the Rough?</h2>

        <p>
            I'm your gal. I tend to think outside of the box and exercise a lot of innovative strategies that demonstrate one of the many reasons why I would make a great asset to your team. 
        </p>

        <h2>Live Skill Demonstration</h2>

        <p>
            This online resume is a live demonstration of my many skillsets obtained through my educational pursuits. I built this web application using C#, HTML5, CSS, Javascript, all in an ASP.NET Core application. I added in some bootstrap styling to showcase that I have a working knowledge base in utilizing framework libraries. I built and added navigation links to seperate my resume into easy to find sections rather than displaying my experiences, skills, education and references on a single page like the traditional resume format. The email link on the contact page works. My webpage is also designed with accessibility at the forefront of my mind, and maintaining ARIA standards to the best of my abilities.
            
            <br />

            I have worked with Microsoft Access, Microsoft Azure, Amazon Web Services, Github Repositories, Visual Studio Code, Visual Studio 2019, Android Studio, Intellij, Atom, Eclipse and more. 

        </p>

        <h2>Computer Languages</h2>

        <p>
            The languages that I have studied are the following:
        </p>

        <ul>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Java</li>
            <li>C# using ASP.NET Core</li>
            <li>Ruby</li>
            <li>Kotlin</li>
            <li>SQL</li>
            <li>XML</li>
            <li>Swift</li>
            <li>PHP (currently studying in college)</li>
        </ul>

        <section>
            <h3>Conclusion</h3>
                <p>
                    Take a look around, push and poke some buttons,and maybe send an email saying that you are happy to hire me on to your team, or to just say 'Hi'. 

                    <br />
                    
                    This resume is only a demonstration of a fraction of my capabilities and skillsets. I am so much more than what meets the eye. 
                </p>
        </section>
    </main>

</body>
</html>









@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@
